body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
#outercontainer{
    position: absolute;
    width: 100%;
    height: 100%;
}  
.splitleft {
    position: absolute;
    float: left;
    height: 100%;
    width: 54%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    left: 0;
    background-color: #111;
}
  
.splitright {
    position: absolute;
    float: right;
    right: 0;
    height: 100%;
    width: 46%;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    background: white;
    color: black;
    
}
#btnbox{
    width: 55%;
    height: 60%;
}
button{
    width: 100%;
    border-radius: 13px;
    position: relative;
    height: 38px;
    margin-bottom: 2.7%;
    border-color: blue;
}
button:active{
    transform: translateY(4px);
}
#btn1{
    background: rgb(196 198 247);
}
#btn2{
    background: #e5c8ff;
}
#btn3{
    background: rgb(0, 162, 255);
}
#btn4{
    background: #d3f9ce;
}
hr:not([size]) {
    height: 1.5px;
}
#p1{
    text-align: justify;
}
footer{
    position: absolute;
    top: 100%;
    padding: 1%;
    text-align: center;
    width: 100%;
    height: 10%;
    color: black;
    background: white;
}
#p2{
    text-align: center;
    padding: 2%;
}
a{
    color: black;
    padding-right: 15px;
    text-decoration: none;
}

span{
    font-size: 13px;
}